* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E1E7F5;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #88A8D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
}

.menu {
    width: 100%;
}

.menu-item {
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.menu-item.active {
    background-color: #AFC5E5;
    border-radius: 5px;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #F4F7FD;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #88A8D4;
    color: white;
    position: relative;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
}

.header-info {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-title {
    font-size: 18px;
    font-weight: bold;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #4A70A1;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.menu-icon:hover + .dropdown, .dropdown:hover {
    display: block;
}

.dropdown ul {
    list-style: none;
    color: white;
}

.dropdown ul li {
    padding: 10px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #6E92C2;
    border-radius: 3px;
}

.chat-body {
    flex-grow: 1;
    padding: 20px;
    background-color: #E1E7F5;
    background-image: url('pattern.png'); /* Insira aqui o padrão de fundo se houver */
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.left {
    background-color: #FFFFFF;
    align-self: flex-start;
}

.right {
    background-color: #D6E0F2;
    align-self: flex-end;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F4F7FD;
    border-top: 1px solid #DDD;
}

.chat-footer input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    background-color: #AFC5E5;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}